/* h1 {
    border: 2px #eee solid;
    color: rgb(179, 255, 0);
    text-align: center;
    padding: 10px;
} */

.col-left {
    display: inline;
    float: left;
}

.col-right {
    display: inline;
    float: right;
}

.col-right {
    display: inline;
    float: right;
}
