{% extends "base.html" %}
{% set active_page = "picks" %}

{% block content %}
    <h1>{% block title %} Picks {% endblock %}</h1>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            {{ selected_string }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            {% for tournament in tournaments %}
            <li><a {% if tournamentid|int == tournament["TournamentID"]|int %}class="dropdown-item active"{% else %}class="dropdown-item"{% endif %} href="{{ url_for('picks')}}?tournamentid={{ tournament['TournamentID'] }}">{{ tournament["Name"] }} - {{ tournament["StartDate"] }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="row">
        <div class="list-group">
            {% for player in players %}
                <label class="list-group-item">
                    <div class="col col-left">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        {{ player["DraftKingsName"] }}
                    </div>
                    <div class="col col-right">
                        ${{ player["DraftKingsSalary"] }}
                    </div>
                </label>
            {% endfor %}
        </div>
    </div>
{% endblock %}

<!-- {% block footer %}
    <script>
        $(document).ready(function(){
            // $(":checkbox").change(function() {
            //     $("this.id").hide();
            //     // $.post("index.php", { id: this.id, checked: this.checked });
            // });

            $(":checkbox").click(function() {
                $("#picks").html(`
                    {% for player in picks %}
                        <label class="list-group-item">
                            <div class="col col-left">
                                <input class="form-check-input me-1" type="checkbox" value="" id="checkbox_{{ player['PlayerID'] }}">
                                {{ player["DraftKingsName"] }}
                            </div>
                            <div class="col-1 col-right">
                                Salary
                            </div>
                        </label>
                    {% endfor %}
                `)
            });
        });
    </script>
{% endblock %} -->
