{% extends 'base.html' %}
{% set active_page = 'tournaments' %}

{% block content %}
    <h1>{% block title %} Welcome to GTGolf {% endblock %}</h1>

    <div class="list-group">
        {% for tournament in tournaments %}
            <label class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="">
                {{ tournament['Name'] }}
            </label>
        {% endfor %}
    </div>
    <!-- {% for post in posts %}
        <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge bg-secondary">{{ post['created'] }}</span>
        <hr>
    {% endfor %}

    {% for post in posts %}
        <a href="#">
            <h2>{{ post['title'] }}</h2>
        </a>
        <span class="badge bg-secondary">{{ post['created'] }}</span>
        <hr>
    {% endfor %} -->

    <span class="badge bg-secondary">42</span>
{% endblock %}
