{% extends "base.html" %}
{% set active_page = "tournaments" %}
{% block title %} Tournaments {% endblock %}

{% block content %}
    <h1>Active Tournaments</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Venue</th>
            </tr>
        </thead>
        <tbody>
            {% for tournament in active_tournaments %}
            <tr>
                <th scope="row">{{ tournament["Name"] }}</th>
                <td>{{ tournament["StartDate"] }}</td>
                <td>{{ tournament["Location"] }}</td>
                <td>{{ tournament["Venue"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Upcoming Tournaments</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Venue</th>
            </tr>
        </thead>
        <tbody>
            {% for tournament in upcoming_tournaments %}
            <tr>
                <th scope="row">{{ tournament["Name"] }}</th>
                <td>{{ tournament["StartDate"] }}</td>
                <td>{{ tournament["Location"] }}</td>
                <td>{{ tournament["Venue"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Past Tournaments</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date</th>
                <th scope="col">Location</th>
                <th scope="col">Venue</th>
            </tr>
        </thead>
        <tbody>
            {% for tournament in past_tournaments %}
            <tr>
                <th scope="row">{{ tournament["Name"] }}</th>
                <td>{{ tournament["StartDate"] }}</td>
                <td>{{ tournament["Location"] }}</td>
                <td>{{ tournament["Venue"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
